body {
	background-color: #B0C4DE;
	font-size: 120%;
}

h1 {
	border-style: double;
	border-width: 6px;
	border-color: rgb(180, 76,76);
	color: rgb(0, 0,128);
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
}